// local.js example

/* Uncomment if https
var sslKey = require('fs').readFileSync('server.key', 'utf8');
var sslCery = require('fs').readFileSync('server.crt', 'utf8');
*/

module.exports = {
	appName: 'GC.API',
	
	explicitHost: '127.0.0.1',

	port: process.env.PORT || 80, //Or change it to 433 if https


	// The runtime "environment" of your app is either 'development' or 'production'.
	environment: process.env.NODE_ENV || 'production',

	//Session secret
	secret: 'RANDOMLOGSTRINGLOGNERTHANTHIS', //Make it pure random

	userStatusException: [
		'Drbadnick',
		'Xitaly',
		'Cardinal',
		'Messiah7',
		'Satanuga',
		'FarhanLester',
		'Kunik',
		'Panty',
		'nzh',
		'PoKka',
		'Imhotep',
		'MasterToma',
		'Kernel',
		'MushroomKiller',
		'MushrO_om',
		'tort32',
		'Rena4ka',
		'Feyola'
	],

	// Servers hosts and ports.
	srv: {
		main: {
			host: 'srv1.greencubes.org',
			port: 25565
		},
		rpg: {
			host: 'srv2.greencubes.org',
			port: 25565
		},
		apocalyptic: {
			host: 'srv3.greencubes.org',
			port: 25565
		}
	},

	appdb: { //Application DB
		host: 'localhost',
		user: '',
		password: '',
		database: '',
		socketPath: ''
	},
	gcdb: { //Site DB
		host: 'localhost',
		user: '',
		password: '',
		database: '',
		socketPath: ''
	},
	maindb: { //User auth DB
		host: 'localhost',
		user: '',
		password: '',
		database: '',
		socketPath: ''
	},
	gcmain: { //GC.Main DB
		host: 'localhost',
		user: '',
		password: '',
		database: '',
		socketPath: ''
	},
	gcrpg: { //GC.RPG DB
		host: 'localhost',
		user: '',
		password: '',
		database: '',
		socketPath: ''
	},
	gcapo: { //GC.Apocalyptic DB
		host: 'localhost',
		user: '',
		password: '',
		database: '',
		socketPath: ''
	},
	redis: {//Redis DB
		host: 'localhost',
		port: 6379,
		ttl: 129600, // = 1.5 days
		db: {//change this if other db
			session: 0,
			limit: 1
		}, 
		pass:'<redis auth password>'
	}
};